:root {
  --grid-color: #a1b3d8;
  --bg-color: #f9fafb;
  --f-border-color: rgba(110, 144, 218, 0.667);
  --title-bg-color: #19668a;
  --text-color: #000000;
  --motiv-bgColor: #3676be;
  --font-family: sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--bg-color) ;
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);

  display: flex;
  flex-direction: column;
  background-size: 24px 24px;
  align-items: center;
  font-family: sans-serif;
  position: relative; /* Nécéssaire pour positionner le claque de flou*/
  min-height: 100vh;
  overflow-x: hidden;
  background-attachment: fixed;
}

body::after {
  content: "";
  /* background-color: #1f69af; */
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 250px; /* Hauteur de la zone flou*/
  background: linear-gradient(to top, var(--bg-color) 10%, transparent 100%);
  backdrop-filter: blur(1px); /* Effet de flou*/
  z-index: -1;
  pointer-events: none;
  -webkit-backdrop-filter: blur(1px);
}


/* conteneur des motivations */

.first-content{
  width: 90%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: var(--motiv-bgColor);
  padding: 0px;
  border-radius: 5px;
  border: 2px dotted #19668a;
}

.first-content h3{
  padding: 10px;
  border-bottom: 2px solid var(--text-color);
  color: #e9e1e1;
}

.first-content quote{
  padding: 15px 10px;
  font-weight: 600;
}

.first-content quote pre{
  color: rgb(15, 241, 230);
}


/* conteneur des articles */

.App {
  counter-reset: mon-compteur;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

/* conteneur des directives */

.directive{
  text-align: start;
  min-width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.directive p{
  color: #323435;
  padding-left: 10px;
  text-transform: lowercase;
  padding-left: 18px;
  font-weight: 800;
}

.directive p::after{
  content: "home /...";
  font-weight: bolder;
}


/* conteneur enfant de .App */

.main {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #e0e0e0d0;
  border: var(--f-border-color) dotted 2px;
  color: #e9e1e1;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: auto;
}

.codeTitle {
  margin-top: 15px;
  margin-bottom: 5px;
  background-size: 10px 10px;
  width: fit-content;
  background-color: var(--title-bg-color);
  color: black;
  padding: 4px;
  border-radius: 10px;
}

.content {
  color: var(--text-color);
  margin-top: 10px;
  padding: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.codeTitle::after {
  counter-increment: mon-compteur;
  content: " /" counter(mon-compteur);
}

.data_empty{
  background-color: #80d2e7c2;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 15px 5px #32343575;
  border-left: #e9e1e1 5px solid;
  color: #1f69af;
  text-transform: uppercase;
  font-weight: bolder;
}


/* conteneur du footer */

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 3px solid var(--f-border-color);
  margin-top: auto; /* Sécurité supplémentaire pour coller le footer */
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsive design */

@media (min-width: 768px) {
  .App {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr;
    min-height: auto;
    gap: 15px;
  }

  .first-content{
    max-width: 1000px;
  }
}