:root {
  --grid-color: #a1b3d8;
  --bg-color: #f9fafb;
  --border-color: rgba(110, 144, 218, 0.667);
}

body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--bg-color) ;
  background-image: linear-gradient(
      to right,
      var(--grid-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-color) 1px, transparent 1px);

  display: flex;
  flex-direction: column;
  background-size: 24px 24px;
  align-items: center;
  font-family: sans-serif;
  position: relative; /* Nécéssaire pour positionner le claque de flou*/
  min-height: 100vh;
  overflow-x: hidden;
}

body::after {
  content: "";
  /* background-color: #1f69af; */
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 250px; /* Hauteur de la zone flou*/
  background: linear-gradient(to top, var(--bg-color) 10%, transparent 100%);
  backdrop-filter: blur(1px); /* Effet de flou*/
  z-index: -1;
  pointer-events: none;
  -webkit-backdrop-filter: blur(1px);
}

.App {
  counter-reset: mon-compteur;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.directive{
  text-align: start;
  min-width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.directive p{
  color: #323435;
  padding-left: 10px;
  text-transform: lowercase;
  counter-increment: slash;
}

.directive p::after{
  content: "home /...";
  font-weight: bolder;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #e9e1e1c0;
  border: #1f69af dotted 2px;
  color: #e9e1e1;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: auto;
}

.codeTitle {
  margin-top: 15px;
  margin-bottom: 5px;
  background-size: 10px 10px;
  width: fit-content;
  background-color: #97baca;
  color: black;
  padding: 4px;
  border-radius: 10px;
}

.content {
  color: #0d0d0e;
  margin-top: 10px;
  padding: 5px;
}

.codeTitle::after {
  counter-increment: mon-compteur;
  content: " /" counter(mon-compteur);
}

.data_empty{
  background-color: #80d2e7c2;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 5px 15px 5px #32343575;
  border-left: #e9e1e1 5px solid;
  color: #1f69af;
  text-transform: uppercase;
  font-weight: bolder;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-top: 3px solid var(--border-color);
  margin-top: auto; /* Sécurité supplémentaire pour coller le footer */
  color: rgb(38, 175, 230);
}

@media (min-width: 768px) {
  .App {
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr;
    min-height: auto;
  }
}