:root{
    --link-color: #0aaff0;
    --h-bg-color: #e0e0e0e5;
    --link-bg-color: #ffffff;
    --link-pad: 5px;
    --link-border: 1px solid var(--link-bg-color);
}

header{
    display: flex;
    background-color: var(--h-bg-color);
    min-width: 100%;
    position: sticky;
    top: 1px;
    margin-bottom: 10px;
}

header ul > li{
    list-style-type: none;
    float: left;
    padding: 10px;
    margin: 10px;
}

header ul > li a{
    text-decoration: none;
    color: var(--link-color);
    background-color: var(--link-bg-color);
    border: var(--link-border);
    padding: var(--link-pad);
    border-radius: 10px;
}